
<header class="py-8 lg:py-16 lg:px-6 bg-[#00CDCD] shadow-lg">

    <div class="flex justify-center">
        <img src="/src/assets/logo1.png" alt="">
    </div>

    <nav class="flex flex-col items-center justify-between px-40 text-center md:flex-row my-6 text-white text-lg font-bold">
        <a href="/"><buttom class="ring-white">Inicio</buttom></a>
        <a href="#"><h4>Naucloud</h4></a>
        <a href="#"><h4>Contacto</h4></a>
        <a href="/price"><h4>Precio</h4></a>
    </nav>

</header>


